.main {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: var(--quaternary);
  margin: 20px;
}

div.outer-div {
  border-radius: 25px;
  height: 80%;
  width: 50%;
  min-height: 300px;
  min-width: 300px;
}

div.inner-div {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  display: flex;
  min-width: 250px;
  width: 80%;
  min-height: 30px;
  font-size: 100%;
}

.inputForm {
  display: flex;

}

.submit {
  display: flex;
  border-style: none;
  border-radius: 10%;
  font-weight: bold;
  width: 50%;
  text-align: center;
}

.submit:hover {
  background-color: var(--quaternary);
  color: var(--primary);
}

.cardRow {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
